body {
    font-family: Arial, sans-serif;
    background: #0e1233;
    color: white;
    text-align: center;
}

#controls {
    width: 600px;
    margin: auto;
    background: #1c1f55;
    padding: 10px;
    border-radius: 8px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    width: 100%;
}
