body {
    font-family: Arial, sans-serif;
    background: #eef6f9;
    padding: 20px;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 8px;
    width: 760px;
}

input {
    width: 100%;
    padding: 6px;
    margin-bottom: 10px;
}

button {
    padding: 8px 15px;
    background: #1976d2;
    color: white;
    border: none;
    border-radius: 5px;
}

.jungkat-container {
    margin-top: 30px;
    height: 150px;
    position: relative;
}

#papan {
    width: 320px;
    height: 8px;
    background: #333;
    margin: auto;
    transition: transform 0.3s ease;
    transform-origin: center;
}

.titik-tumpu {
    width: 20px;
    height: 40px;
    background: #777;
    margin: auto;
    margin-top: -4px;
    border-radius: 4px;
}

canvas {
    border: 1px solid #ccc;
}
